
$colors:(
  mint: rgb(217,245,232),
  teal: rgb(55,203,194),
  gold: rgb(255,187,51),
  tomato: rgb(255,99,71)
);
$lightness:(
  1: 10,
  2: 0,
  3: -10
);

@each $key, $value in $colors {
  .color-box.#{$key} {
    background: $value;
  }
  // mix colors
  @each $key2, $value2 in $colors {
    .#{$key} ~ .grid-vert .mix-#{$key2} {
      background: mix($value2, $value, 50%)
    }
  }
  // change lightness
  @each $number, $val in $lightness {
    .color#{$number}.#{$key}{
      background: $value + $val
    }
  }
}
@for $i from 1 through 365 {
  div.rainbow-color:nth-of-type(#{$i}) {
    background: hsl($i,100%,50%)
  };
}
h5{
  margin: 0;
}
.span-box {
    display: grid;
    height: 1120px;
    grid-template-columns: repeat(365, 1fr);
    grid-template-rows: 1fr;
}

.rainbow-color {height: 100%;}

.span-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,ffffff+100&1+0,0+50,1+99 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(250,250,250,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(250,250,250,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(250,250,250,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.span-box {
    position: relative;
    margin-top: 50px
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.color-box.tri-color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.color-box.tri-color div {
    height: 100px;
}
.color-box{
    height: 100px;
}
.small-color{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-vert {
    display: grid;
    grid-gap: 20px;
    margin-top:20px
}
