.color-box.mint {
  background: #d9f5e8; }

.mint ~ .grid-vert .mix-mint {
  background: #d9f5e8; }

.mint ~ .grid-vert .mix-teal {
  background: #88e0d5; }

.mint ~ .grid-vert .mix-gold {
  background: #ecd88e; }

.mint ~ .grid-vert .mix-tomato {
  background: #ecac98; }

.color1.mint {
  background: #e3fff2; }

.color2.mint {
  background: #d9f5e8; }

.color3.mint {
  background: #cfebde; }

.color-box.teal {
  background: #37cbc2; }

.teal ~ .grid-vert .mix-mint {
  background: #88e0d5; }

.teal ~ .grid-vert .mix-teal {
  background: #37cbc2; }

.teal ~ .grid-vert .mix-gold {
  background: #9bc37b; }

.teal ~ .grid-vert .mix-tomato {
  background: #9b9785; }

.color1.teal {
  background: #41d5cc; }

.color2.teal {
  background: #37cbc2; }

.color3.teal {
  background: #2dc1b8; }

.color-box.gold {
  background: #ffbb33; }

.gold ~ .grid-vert .mix-mint {
  background: #ecd88e; }

.gold ~ .grid-vert .mix-teal {
  background: #9bc37b; }

.gold ~ .grid-vert .mix-gold {
  background: #ffbb33; }

.gold ~ .grid-vert .mix-tomato {
  background: #ff8f3d; }

.color1.gold {
  background: #ffc53d; }

.color2.gold {
  background: #ffbb33; }

.color3.gold {
  background: #f5b129; }

.color-box.tomato {
  background: tomato; }

.tomato ~ .grid-vert .mix-mint {
  background: #ecac98; }

.tomato ~ .grid-vert .mix-teal {
  background: #9b9785; }

.tomato ~ .grid-vert .mix-gold {
  background: #ff8f3d; }

.tomato ~ .grid-vert .mix-tomato {
  background: tomato; }

.color1.tomato {
  background: #ff6d51; }

.color2.tomato {
  background: tomato; }

.color3.tomato {
  background: #f5593d; }

div.rainbow-color:nth-of-type(1) {
  background: #ff0400; }

div.rainbow-color:nth-of-type(2) {
  background: #ff0900; }

div.rainbow-color:nth-of-type(3) {
  background: #ff0d00; }

div.rainbow-color:nth-of-type(4) {
  background: #ff1100; }

div.rainbow-color:nth-of-type(5) {
  background: #ff1500; }

div.rainbow-color:nth-of-type(6) {
  background: #ff1a00; }

div.rainbow-color:nth-of-type(7) {
  background: #ff1e00; }

div.rainbow-color:nth-of-type(8) {
  background: #ff2200; }

div.rainbow-color:nth-of-type(9) {
  background: #ff2600; }

div.rainbow-color:nth-of-type(10) {
  background: #ff2b00; }

div.rainbow-color:nth-of-type(11) {
  background: #ff2f00; }

div.rainbow-color:nth-of-type(12) {
  background: #ff3300; }

div.rainbow-color:nth-of-type(13) {
  background: #ff3700; }

div.rainbow-color:nth-of-type(14) {
  background: #ff3c00; }

div.rainbow-color:nth-of-type(15) {
  background: #ff4000; }

div.rainbow-color:nth-of-type(16) {
  background: #ff4400; }

div.rainbow-color:nth-of-type(17) {
  background: #ff4800; }

div.rainbow-color:nth-of-type(18) {
  background: #ff4d00; }

div.rainbow-color:nth-of-type(19) {
  background: #ff5100; }

div.rainbow-color:nth-of-type(20) {
  background: #ff5500; }

div.rainbow-color:nth-of-type(21) {
  background: #ff5900; }

div.rainbow-color:nth-of-type(22) {
  background: #ff5e00; }

div.rainbow-color:nth-of-type(23) {
  background: #ff6200; }

div.rainbow-color:nth-of-type(24) {
  background: #ff6600; }

div.rainbow-color:nth-of-type(25) {
  background: #ff6a00; }

div.rainbow-color:nth-of-type(26) {
  background: #ff6f00; }

div.rainbow-color:nth-of-type(27) {
  background: #ff7300; }

div.rainbow-color:nth-of-type(28) {
  background: #ff7700; }

div.rainbow-color:nth-of-type(29) {
  background: #ff7b00; }

div.rainbow-color:nth-of-type(30) {
  background: #ff8000; }

div.rainbow-color:nth-of-type(31) {
  background: #ff8400; }

div.rainbow-color:nth-of-type(32) {
  background: #ff8800; }

div.rainbow-color:nth-of-type(33) {
  background: darkorange; }

div.rainbow-color:nth-of-type(34) {
  background: #ff9100; }

div.rainbow-color:nth-of-type(35) {
  background: #ff9500; }

div.rainbow-color:nth-of-type(36) {
  background: #ff9900; }

div.rainbow-color:nth-of-type(37) {
  background: #ff9d00; }

div.rainbow-color:nth-of-type(38) {
  background: #ffa200; }

div.rainbow-color:nth-of-type(39) {
  background: #ffa600; }

div.rainbow-color:nth-of-type(40) {
  background: #ffaa00; }

div.rainbow-color:nth-of-type(41) {
  background: #ffae00; }

div.rainbow-color:nth-of-type(42) {
  background: #ffb300; }

div.rainbow-color:nth-of-type(43) {
  background: #ffb700; }

div.rainbow-color:nth-of-type(44) {
  background: #ffbb00; }

div.rainbow-color:nth-of-type(45) {
  background: #ffbf00; }

div.rainbow-color:nth-of-type(46) {
  background: #ffc400; }

div.rainbow-color:nth-of-type(47) {
  background: #ffc800; }

div.rainbow-color:nth-of-type(48) {
  background: #ffcc00; }

div.rainbow-color:nth-of-type(49) {
  background: #ffd000; }

div.rainbow-color:nth-of-type(50) {
  background: #ffd500; }

div.rainbow-color:nth-of-type(51) {
  background: #ffd900; }

div.rainbow-color:nth-of-type(52) {
  background: #ffdd00; }

div.rainbow-color:nth-of-type(53) {
  background: #ffe100; }

div.rainbow-color:nth-of-type(54) {
  background: #ffe600; }

div.rainbow-color:nth-of-type(55) {
  background: #ffea00; }

div.rainbow-color:nth-of-type(56) {
  background: #ffee00; }

div.rainbow-color:nth-of-type(57) {
  background: #fff200; }

div.rainbow-color:nth-of-type(58) {
  background: #fff700; }

div.rainbow-color:nth-of-type(59) {
  background: #fffb00; }

div.rainbow-color:nth-of-type(60) {
  background: yellow; }

div.rainbow-color:nth-of-type(61) {
  background: #fbff00; }

div.rainbow-color:nth-of-type(62) {
  background: #f7ff00; }

div.rainbow-color:nth-of-type(63) {
  background: #f2ff00; }

div.rainbow-color:nth-of-type(64) {
  background: #eeff00; }

div.rainbow-color:nth-of-type(65) {
  background: #eaff00; }

div.rainbow-color:nth-of-type(66) {
  background: #e6ff00; }

div.rainbow-color:nth-of-type(67) {
  background: #e1ff00; }

div.rainbow-color:nth-of-type(68) {
  background: #ddff00; }

div.rainbow-color:nth-of-type(69) {
  background: #d9ff00; }

div.rainbow-color:nth-of-type(70) {
  background: #d5ff00; }

div.rainbow-color:nth-of-type(71) {
  background: #d0ff00; }

div.rainbow-color:nth-of-type(72) {
  background: #ccff00; }

div.rainbow-color:nth-of-type(73) {
  background: #c8ff00; }

div.rainbow-color:nth-of-type(74) {
  background: #c4ff00; }

div.rainbow-color:nth-of-type(75) {
  background: #bfff00; }

div.rainbow-color:nth-of-type(76) {
  background: #bbff00; }

div.rainbow-color:nth-of-type(77) {
  background: #b7ff00; }

div.rainbow-color:nth-of-type(78) {
  background: #b3ff00; }

div.rainbow-color:nth-of-type(79) {
  background: #aeff00; }

div.rainbow-color:nth-of-type(80) {
  background: #aaff00; }

div.rainbow-color:nth-of-type(81) {
  background: #a6ff00; }

div.rainbow-color:nth-of-type(82) {
  background: #a2ff00; }

div.rainbow-color:nth-of-type(83) {
  background: #9dff00; }

div.rainbow-color:nth-of-type(84) {
  background: #99ff00; }

div.rainbow-color:nth-of-type(85) {
  background: #95ff00; }

div.rainbow-color:nth-of-type(86) {
  background: #91ff00; }

div.rainbow-color:nth-of-type(87) {
  background: #8cff00; }

div.rainbow-color:nth-of-type(88) {
  background: #88ff00; }

div.rainbow-color:nth-of-type(89) {
  background: #84ff00; }

div.rainbow-color:nth-of-type(90) {
  background: #80ff00; }

div.rainbow-color:nth-of-type(91) {
  background: #7bff00; }

div.rainbow-color:nth-of-type(92) {
  background: #77ff00; }

div.rainbow-color:nth-of-type(93) {
  background: #73ff00; }

div.rainbow-color:nth-of-type(94) {
  background: #6fff00; }

div.rainbow-color:nth-of-type(95) {
  background: #6aff00; }

div.rainbow-color:nth-of-type(96) {
  background: #66ff00; }

div.rainbow-color:nth-of-type(97) {
  background: #62ff00; }

div.rainbow-color:nth-of-type(98) {
  background: #5eff00; }

div.rainbow-color:nth-of-type(99) {
  background: #59ff00; }

div.rainbow-color:nth-of-type(100) {
  background: #55ff00; }

div.rainbow-color:nth-of-type(101) {
  background: #51ff00; }

div.rainbow-color:nth-of-type(102) {
  background: #4dff00; }

div.rainbow-color:nth-of-type(103) {
  background: #48ff00; }

div.rainbow-color:nth-of-type(104) {
  background: #44ff00; }

div.rainbow-color:nth-of-type(105) {
  background: #40ff00; }

div.rainbow-color:nth-of-type(106) {
  background: #3cff00; }

div.rainbow-color:nth-of-type(107) {
  background: #37ff00; }

div.rainbow-color:nth-of-type(108) {
  background: #33ff00; }

div.rainbow-color:nth-of-type(109) {
  background: #2fff00; }

div.rainbow-color:nth-of-type(110) {
  background: #2bff00; }

div.rainbow-color:nth-of-type(111) {
  background: #26ff00; }

div.rainbow-color:nth-of-type(112) {
  background: #22ff00; }

div.rainbow-color:nth-of-type(113) {
  background: #1eff00; }

div.rainbow-color:nth-of-type(114) {
  background: #1aff00; }

div.rainbow-color:nth-of-type(115) {
  background: #15ff00; }

div.rainbow-color:nth-of-type(116) {
  background: #11ff00; }

div.rainbow-color:nth-of-type(117) {
  background: #0dff00; }

div.rainbow-color:nth-of-type(118) {
  background: #09ff00; }

div.rainbow-color:nth-of-type(119) {
  background: #04ff00; }

div.rainbow-color:nth-of-type(120) {
  background: lime; }

div.rainbow-color:nth-of-type(121) {
  background: #00ff04; }

div.rainbow-color:nth-of-type(122) {
  background: #00ff09; }

div.rainbow-color:nth-of-type(123) {
  background: #00ff0d; }

div.rainbow-color:nth-of-type(124) {
  background: #00ff11; }

div.rainbow-color:nth-of-type(125) {
  background: #00ff15; }

div.rainbow-color:nth-of-type(126) {
  background: #00ff1a; }

div.rainbow-color:nth-of-type(127) {
  background: #00ff1e; }

div.rainbow-color:nth-of-type(128) {
  background: #00ff22; }

div.rainbow-color:nth-of-type(129) {
  background: #00ff26; }

div.rainbow-color:nth-of-type(130) {
  background: #00ff2b; }

div.rainbow-color:nth-of-type(131) {
  background: #00ff2f; }

div.rainbow-color:nth-of-type(132) {
  background: #00ff33; }

div.rainbow-color:nth-of-type(133) {
  background: #00ff37; }

div.rainbow-color:nth-of-type(134) {
  background: #00ff3c; }

div.rainbow-color:nth-of-type(135) {
  background: #00ff40; }

div.rainbow-color:nth-of-type(136) {
  background: #00ff44; }

div.rainbow-color:nth-of-type(137) {
  background: #00ff48; }

div.rainbow-color:nth-of-type(138) {
  background: #00ff4d; }

div.rainbow-color:nth-of-type(139) {
  background: #00ff51; }

div.rainbow-color:nth-of-type(140) {
  background: #00ff55; }

div.rainbow-color:nth-of-type(141) {
  background: #00ff59; }

div.rainbow-color:nth-of-type(142) {
  background: #00ff5e; }

div.rainbow-color:nth-of-type(143) {
  background: #00ff62; }

div.rainbow-color:nth-of-type(144) {
  background: #00ff66; }

div.rainbow-color:nth-of-type(145) {
  background: #00ff6a; }

div.rainbow-color:nth-of-type(146) {
  background: #00ff6f; }

div.rainbow-color:nth-of-type(147) {
  background: #00ff73; }

div.rainbow-color:nth-of-type(148) {
  background: #00ff77; }

div.rainbow-color:nth-of-type(149) {
  background: #00ff7b; }

div.rainbow-color:nth-of-type(150) {
  background: #00ff80; }

div.rainbow-color:nth-of-type(151) {
  background: #00ff84; }

div.rainbow-color:nth-of-type(152) {
  background: #00ff88; }

div.rainbow-color:nth-of-type(153) {
  background: #00ff8c; }

div.rainbow-color:nth-of-type(154) {
  background: #00ff91; }

div.rainbow-color:nth-of-type(155) {
  background: #00ff95; }

div.rainbow-color:nth-of-type(156) {
  background: #00ff99; }

div.rainbow-color:nth-of-type(157) {
  background: #00ff9d; }

div.rainbow-color:nth-of-type(158) {
  background: #00ffa2; }

div.rainbow-color:nth-of-type(159) {
  background: #00ffa6; }

div.rainbow-color:nth-of-type(160) {
  background: #00ffaa; }

div.rainbow-color:nth-of-type(161) {
  background: #00ffae; }

div.rainbow-color:nth-of-type(162) {
  background: #00ffb3; }

div.rainbow-color:nth-of-type(163) {
  background: #00ffb7; }

div.rainbow-color:nth-of-type(164) {
  background: #00ffbb; }

div.rainbow-color:nth-of-type(165) {
  background: #00ffbf; }

div.rainbow-color:nth-of-type(166) {
  background: #00ffc4; }

div.rainbow-color:nth-of-type(167) {
  background: #00ffc8; }

div.rainbow-color:nth-of-type(168) {
  background: #00ffcc; }

div.rainbow-color:nth-of-type(169) {
  background: #00ffd0; }

div.rainbow-color:nth-of-type(170) {
  background: #00ffd5; }

div.rainbow-color:nth-of-type(171) {
  background: #00ffd9; }

div.rainbow-color:nth-of-type(172) {
  background: #00ffdd; }

div.rainbow-color:nth-of-type(173) {
  background: #00ffe1; }

div.rainbow-color:nth-of-type(174) {
  background: #00ffe6; }

div.rainbow-color:nth-of-type(175) {
  background: #00ffea; }

div.rainbow-color:nth-of-type(176) {
  background: #00ffee; }

div.rainbow-color:nth-of-type(177) {
  background: #00fff2; }

div.rainbow-color:nth-of-type(178) {
  background: #00fff7; }

div.rainbow-color:nth-of-type(179) {
  background: #00fffb; }

div.rainbow-color:nth-of-type(180) {
  background: cyan; }

div.rainbow-color:nth-of-type(181) {
  background: #00fbff; }

div.rainbow-color:nth-of-type(182) {
  background: #00f7ff; }

div.rainbow-color:nth-of-type(183) {
  background: #00f2ff; }

div.rainbow-color:nth-of-type(184) {
  background: #00eeff; }

div.rainbow-color:nth-of-type(185) {
  background: #00eaff; }

div.rainbow-color:nth-of-type(186) {
  background: #00e6ff; }

div.rainbow-color:nth-of-type(187) {
  background: #00e1ff; }

div.rainbow-color:nth-of-type(188) {
  background: #00ddff; }

div.rainbow-color:nth-of-type(189) {
  background: #00d9ff; }

div.rainbow-color:nth-of-type(190) {
  background: #00d5ff; }

div.rainbow-color:nth-of-type(191) {
  background: #00d0ff; }

div.rainbow-color:nth-of-type(192) {
  background: #00ccff; }

div.rainbow-color:nth-of-type(193) {
  background: #00c8ff; }

div.rainbow-color:nth-of-type(194) {
  background: #00c4ff; }

div.rainbow-color:nth-of-type(195) {
  background: deepskyblue; }

div.rainbow-color:nth-of-type(196) {
  background: #00bbff; }

div.rainbow-color:nth-of-type(197) {
  background: #00b7ff; }

div.rainbow-color:nth-of-type(198) {
  background: #00b3ff; }

div.rainbow-color:nth-of-type(199) {
  background: #00aeff; }

div.rainbow-color:nth-of-type(200) {
  background: #00aaff; }

div.rainbow-color:nth-of-type(201) {
  background: #00a6ff; }

div.rainbow-color:nth-of-type(202) {
  background: #00a2ff; }

div.rainbow-color:nth-of-type(203) {
  background: #009dff; }

div.rainbow-color:nth-of-type(204) {
  background: #0099ff; }

div.rainbow-color:nth-of-type(205) {
  background: #0095ff; }

div.rainbow-color:nth-of-type(206) {
  background: #0091ff; }

div.rainbow-color:nth-of-type(207) {
  background: #008cff; }

div.rainbow-color:nth-of-type(208) {
  background: #0088ff; }

div.rainbow-color:nth-of-type(209) {
  background: #0084ff; }

div.rainbow-color:nth-of-type(210) {
  background: #0080ff; }

div.rainbow-color:nth-of-type(211) {
  background: #007bff; }

div.rainbow-color:nth-of-type(212) {
  background: #0077ff; }

div.rainbow-color:nth-of-type(213) {
  background: #0073ff; }

div.rainbow-color:nth-of-type(214) {
  background: #006fff; }

div.rainbow-color:nth-of-type(215) {
  background: #006aff; }

div.rainbow-color:nth-of-type(216) {
  background: #0066ff; }

div.rainbow-color:nth-of-type(217) {
  background: #0062ff; }

div.rainbow-color:nth-of-type(218) {
  background: #005eff; }

div.rainbow-color:nth-of-type(219) {
  background: #0059ff; }

div.rainbow-color:nth-of-type(220) {
  background: #0055ff; }

div.rainbow-color:nth-of-type(221) {
  background: #0051ff; }

div.rainbow-color:nth-of-type(222) {
  background: #004dff; }

div.rainbow-color:nth-of-type(223) {
  background: #0048ff; }

div.rainbow-color:nth-of-type(224) {
  background: #0044ff; }

div.rainbow-color:nth-of-type(225) {
  background: #0040ff; }

div.rainbow-color:nth-of-type(226) {
  background: #003cff; }

div.rainbow-color:nth-of-type(227) {
  background: #0037ff; }

div.rainbow-color:nth-of-type(228) {
  background: #0033ff; }

div.rainbow-color:nth-of-type(229) {
  background: #002fff; }

div.rainbow-color:nth-of-type(230) {
  background: #002bff; }

div.rainbow-color:nth-of-type(231) {
  background: #0026ff; }

div.rainbow-color:nth-of-type(232) {
  background: #0022ff; }

div.rainbow-color:nth-of-type(233) {
  background: #001eff; }

div.rainbow-color:nth-of-type(234) {
  background: #001aff; }

div.rainbow-color:nth-of-type(235) {
  background: #0015ff; }

div.rainbow-color:nth-of-type(236) {
  background: #0011ff; }

div.rainbow-color:nth-of-type(237) {
  background: #000dff; }

div.rainbow-color:nth-of-type(238) {
  background: #0009ff; }

div.rainbow-color:nth-of-type(239) {
  background: #0004ff; }

div.rainbow-color:nth-of-type(240) {
  background: blue; }

div.rainbow-color:nth-of-type(241) {
  background: #0400ff; }

div.rainbow-color:nth-of-type(242) {
  background: #0900ff; }

div.rainbow-color:nth-of-type(243) {
  background: #0d00ff; }

div.rainbow-color:nth-of-type(244) {
  background: #1100ff; }

div.rainbow-color:nth-of-type(245) {
  background: #1500ff; }

div.rainbow-color:nth-of-type(246) {
  background: #1a00ff; }

div.rainbow-color:nth-of-type(247) {
  background: #1e00ff; }

div.rainbow-color:nth-of-type(248) {
  background: #2200ff; }

div.rainbow-color:nth-of-type(249) {
  background: #2600ff; }

div.rainbow-color:nth-of-type(250) {
  background: #2b00ff; }

div.rainbow-color:nth-of-type(251) {
  background: #2f00ff; }

div.rainbow-color:nth-of-type(252) {
  background: #3300ff; }

div.rainbow-color:nth-of-type(253) {
  background: #3700ff; }

div.rainbow-color:nth-of-type(254) {
  background: #3c00ff; }

div.rainbow-color:nth-of-type(255) {
  background: #4000ff; }

div.rainbow-color:nth-of-type(256) {
  background: #4400ff; }

div.rainbow-color:nth-of-type(257) {
  background: #4800ff; }

div.rainbow-color:nth-of-type(258) {
  background: #4d00ff; }

div.rainbow-color:nth-of-type(259) {
  background: #5100ff; }

div.rainbow-color:nth-of-type(260) {
  background: #5500ff; }

div.rainbow-color:nth-of-type(261) {
  background: #5900ff; }

div.rainbow-color:nth-of-type(262) {
  background: #5e00ff; }

div.rainbow-color:nth-of-type(263) {
  background: #6200ff; }

div.rainbow-color:nth-of-type(264) {
  background: #6600ff; }

div.rainbow-color:nth-of-type(265) {
  background: #6a00ff; }

div.rainbow-color:nth-of-type(266) {
  background: #6f00ff; }

div.rainbow-color:nth-of-type(267) {
  background: #7300ff; }

div.rainbow-color:nth-of-type(268) {
  background: #7700ff; }

div.rainbow-color:nth-of-type(269) {
  background: #7b00ff; }

div.rainbow-color:nth-of-type(270) {
  background: #8000ff; }

div.rainbow-color:nth-of-type(271) {
  background: #8400ff; }

div.rainbow-color:nth-of-type(272) {
  background: #8800ff; }

div.rainbow-color:nth-of-type(273) {
  background: #8c00ff; }

div.rainbow-color:nth-of-type(274) {
  background: #9100ff; }

div.rainbow-color:nth-of-type(275) {
  background: #9500ff; }

div.rainbow-color:nth-of-type(276) {
  background: #9900ff; }

div.rainbow-color:nth-of-type(277) {
  background: #9d00ff; }

div.rainbow-color:nth-of-type(278) {
  background: #a200ff; }

div.rainbow-color:nth-of-type(279) {
  background: #a600ff; }

div.rainbow-color:nth-of-type(280) {
  background: #aa00ff; }

div.rainbow-color:nth-of-type(281) {
  background: #ae00ff; }

div.rainbow-color:nth-of-type(282) {
  background: #b300ff; }

div.rainbow-color:nth-of-type(283) {
  background: #b700ff; }

div.rainbow-color:nth-of-type(284) {
  background: #bb00ff; }

div.rainbow-color:nth-of-type(285) {
  background: #bf00ff; }

div.rainbow-color:nth-of-type(286) {
  background: #c400ff; }

div.rainbow-color:nth-of-type(287) {
  background: #c800ff; }

div.rainbow-color:nth-of-type(288) {
  background: #cc00ff; }

div.rainbow-color:nth-of-type(289) {
  background: #d000ff; }

div.rainbow-color:nth-of-type(290) {
  background: #d500ff; }

div.rainbow-color:nth-of-type(291) {
  background: #d900ff; }

div.rainbow-color:nth-of-type(292) {
  background: #dd00ff; }

div.rainbow-color:nth-of-type(293) {
  background: #e100ff; }

div.rainbow-color:nth-of-type(294) {
  background: #e600ff; }

div.rainbow-color:nth-of-type(295) {
  background: #ea00ff; }

div.rainbow-color:nth-of-type(296) {
  background: #ee00ff; }

div.rainbow-color:nth-of-type(297) {
  background: #f200ff; }

div.rainbow-color:nth-of-type(298) {
  background: #f700ff; }

div.rainbow-color:nth-of-type(299) {
  background: #fb00ff; }

div.rainbow-color:nth-of-type(300) {
  background: magenta; }

div.rainbow-color:nth-of-type(301) {
  background: #ff00fb; }

div.rainbow-color:nth-of-type(302) {
  background: #ff00f7; }

div.rainbow-color:nth-of-type(303) {
  background: #ff00f2; }

div.rainbow-color:nth-of-type(304) {
  background: #ff00ee; }

div.rainbow-color:nth-of-type(305) {
  background: #ff00ea; }

div.rainbow-color:nth-of-type(306) {
  background: #ff00e6; }

div.rainbow-color:nth-of-type(307) {
  background: #ff00e1; }

div.rainbow-color:nth-of-type(308) {
  background: #ff00dd; }

div.rainbow-color:nth-of-type(309) {
  background: #ff00d9; }

div.rainbow-color:nth-of-type(310) {
  background: #ff00d5; }

div.rainbow-color:nth-of-type(311) {
  background: #ff00d0; }

div.rainbow-color:nth-of-type(312) {
  background: #ff00cc; }

div.rainbow-color:nth-of-type(313) {
  background: #ff00c8; }

div.rainbow-color:nth-of-type(314) {
  background: #ff00c4; }

div.rainbow-color:nth-of-type(315) {
  background: #ff00bf; }

div.rainbow-color:nth-of-type(316) {
  background: #ff00bb; }

div.rainbow-color:nth-of-type(317) {
  background: #ff00b7; }

div.rainbow-color:nth-of-type(318) {
  background: #ff00b3; }

div.rainbow-color:nth-of-type(319) {
  background: #ff00ae; }

div.rainbow-color:nth-of-type(320) {
  background: #ff00aa; }

div.rainbow-color:nth-of-type(321) {
  background: #ff00a6; }

div.rainbow-color:nth-of-type(322) {
  background: #ff00a2; }

div.rainbow-color:nth-of-type(323) {
  background: #ff009d; }

div.rainbow-color:nth-of-type(324) {
  background: #ff0099; }

div.rainbow-color:nth-of-type(325) {
  background: #ff0095; }

div.rainbow-color:nth-of-type(326) {
  background: #ff0091; }

div.rainbow-color:nth-of-type(327) {
  background: #ff008c; }

div.rainbow-color:nth-of-type(328) {
  background: #ff0088; }

div.rainbow-color:nth-of-type(329) {
  background: #ff0084; }

div.rainbow-color:nth-of-type(330) {
  background: #ff0080; }

div.rainbow-color:nth-of-type(331) {
  background: #ff007b; }

div.rainbow-color:nth-of-type(332) {
  background: #ff0077; }

div.rainbow-color:nth-of-type(333) {
  background: #ff0073; }

div.rainbow-color:nth-of-type(334) {
  background: #ff006f; }

div.rainbow-color:nth-of-type(335) {
  background: #ff006a; }

div.rainbow-color:nth-of-type(336) {
  background: #ff0066; }

div.rainbow-color:nth-of-type(337) {
  background: #ff0062; }

div.rainbow-color:nth-of-type(338) {
  background: #ff005e; }

div.rainbow-color:nth-of-type(339) {
  background: #ff0059; }

div.rainbow-color:nth-of-type(340) {
  background: #ff0055; }

div.rainbow-color:nth-of-type(341) {
  background: #ff0051; }

div.rainbow-color:nth-of-type(342) {
  background: #ff004d; }

div.rainbow-color:nth-of-type(343) {
  background: #ff0048; }

div.rainbow-color:nth-of-type(344) {
  background: #ff0044; }

div.rainbow-color:nth-of-type(345) {
  background: #ff0040; }

div.rainbow-color:nth-of-type(346) {
  background: #ff003c; }

div.rainbow-color:nth-of-type(347) {
  background: #ff0037; }

div.rainbow-color:nth-of-type(348) {
  background: #ff0033; }

div.rainbow-color:nth-of-type(349) {
  background: #ff002f; }

div.rainbow-color:nth-of-type(350) {
  background: #ff002b; }

div.rainbow-color:nth-of-type(351) {
  background: #ff0026; }

div.rainbow-color:nth-of-type(352) {
  background: #ff0022; }

div.rainbow-color:nth-of-type(353) {
  background: #ff001e; }

div.rainbow-color:nth-of-type(354) {
  background: #ff001a; }

div.rainbow-color:nth-of-type(355) {
  background: #ff0015; }

div.rainbow-color:nth-of-type(356) {
  background: #ff0011; }

div.rainbow-color:nth-of-type(357) {
  background: #ff000d; }

div.rainbow-color:nth-of-type(358) {
  background: #ff0009; }

div.rainbow-color:nth-of-type(359) {
  background: #ff0004; }

div.rainbow-color:nth-of-type(360) {
  background: red; }

div.rainbow-color:nth-of-type(361) {
  background: #ff0400; }

div.rainbow-color:nth-of-type(362) {
  background: #ff0900; }

div.rainbow-color:nth-of-type(363) {
  background: #ff0d00; }

div.rainbow-color:nth-of-type(364) {
  background: #ff1100; }

div.rainbow-color:nth-of-type(365) {
  background: #ff1500; }

h5 {
  margin: 0; }

.span-box {
  display: grid;
  height: 1120px;
  grid-template-columns: repeat(365, 1fr);
  grid-template-rows: 1fr; }

.rainbow-color {
  height: 100%; }

.span-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,ffffff+100&1+0,0+50,1+99 */
  background: -moz-linear-gradient(top, black 0%, transparent 50%, #fafafa 99%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, transparent 50%, #fafafa 99%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, transparent 50%, #fafafa 99%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.span-box {
  position: relative;
  margin-top: 50px; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px; }

.color-box.tri-color {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.color-box.tri-color div {
  height: 100px; }

.color-box {
  height: 100px; }

.small-color {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-vert {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px; }

/*# sourceMappingURL=master.css.map */
